<!DOCTYPE html>
<html lang="en">
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1 class="text-center title-1"> Cadastro de Nova Turma </h1>
    <form action="/addclass" method="post"> 
    Escolha a escola a que esta turma pertence: 
 
<select onchange="mudarPosicao()" id="qualEscola" name="escola">
<% createclass.forEach(function(school, index){ %>
 <option id= "option_tab"><%= school.name %> </option> <!--Numero de turmas: <%=school.classes.length%>-->
 <%})%>
</select>
    
        <p>Nome da Turma:<input type="text" name="nome" class="cadastro"/></p>
        <p><input type="submit" value="Adicionar Turma" /></p>
    </form>
    <p id="demo"></p>
</body>
<script>
	var e = document.getElementById("qualEscola");
	var strSchool = e.options[e.selectedIndex].value;
	function mudarPosicao(){
		var e = document.getElementById("qualEscola");
		var strSchool = e.options[e.selectedIndex].value;
		document.getElementById("option_tab").setAttribute("value", strSchool);
};

</script>
</html>