<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <button onclick="testes()">Click me</button>
    <h1 class="text-center title-1"> Cadastro de Nova Turma </h1>
     <p><%= createclass[0].name %></p>
    Escolha a escola a que esta turma pertence: 
 <select onchange="mudarPosicao()" id="qualEscola">
<% createclass.forEach(function(school){ %>
 <option><%= school.name %> Numero de turmas: <%=school.classes.length%> </option>
 <%})%>
</select>
    <form action="/addclass" method="post">
        <p>Nome da Turma:<input type="text" name="nome" /></p>
        <p><input type="submit" value="Adicionar Turma" /></p>
    </form>
    <p id="demo"></p>
</body>
</html>