<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem-vindo ao SDCE</p>
    <!-- Adicionar e listar escolas -->
    <form action="/schoollist">
    	<input type="submit" value="Listar Todas as Escolas" />
	</form>
 	<form action="/createschool">
    	<input type="submit" value="Adicionar Escola" />
    </form>
    <!-- Adicionar e listar turmas -->
  <form action="/classlist">
      <input type="submit" value="Listar Turmas" />
  </form>
      <form action="/createclass">
      <input type="submit" value="Adicionar Turma" />
    </form>
  <!-- Adicionar e listar usuários -->
  </body>
</html>
