<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem-vindo ao SDCE</p>
    <form action="/userlist">
    	<input type="submit" value="Listar Escolas" />
	</form>
 	<form action="/newuser">
    	<input type="submit" value="Adicionar Escola" />
    </form>
    <form action="/userlist">
    	<input type="submit" value="Adicionar Turma" />
	</form>
 	<form action="/newuser">
    	<input type="submit" value="Listar Turmas" />
	</form>
  </body>
</html>
